<div class="container mt-5">
  <div class="row">
    <h1 class="text-center ysabeau">LISTA DE TAREAS</h1>
  </div>


  <div class="row">
    <div class="col-lg-8 offset-lg-2 mb-4">
      <input type="text" [(ngModel)]="task" (keyup.enter)="addTask()" class="form-control text-center" placeholder="Ingrese tarea">
    </div>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <h3 class="ysabeau">Por hacer</h3>
      <div cdkDropList id="list-todo" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['list-progress', 'list-done']" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-lg-4">
      <h3 class="ysabeau">En progreso</h3>
      <div cdkDropList id="list-progress" [cdkDropListData]="progress" [cdkDropListConnectedTo]="['list-done']" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="col-lg-4">
      <h3 class="ysabeau">Hecho</h3>
      <div cdkDropList id="list-done" [cdkDropListData]="done" [cdkDropListConnectedTo]="['list-progress']" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>

  </div>
</div>
